@import "https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:wght@500&display=swap";

:root {
  --white: #F9F6EE;
  --wheat: #E7D1AD;
  --khaki: #BEB393;
  --grey: #D3D3D3;
  --darkgrey: #d3d3d355;
  --green: #C3D6BD;
  --darkgreen: #aed7a1;
}

body, html {
  background-color: var(--wheat);
  font-family: 'Poppins', sans-serif;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--wheat);
	padding: 1rem;
	max-height: 130px;
	border-bottom: 1px solid grey;
  
	&__left {
	  img {
		width: 250px;
		height: 250px;
		object-fit: contain;
		margin-top: 25%;
	  }
  
	  @media (max-width: 800px) {
		display: none;
	  }
	}
  
	&__right {
		.dropdown__toggle {
		  position: relative;
		  width: 100px; 
		  height: 100px; 
		  border-radius: 50%;
		  padding: 5px;
		  border: 3px solid black;
		  overflow: hidden; 
		  
		  img.user__avatar {
			width: 100%; 
			height: 100%; 
			object-fit: cover; 
			border-radius: 50%; 
		  }
		}
	
		.dropdown {
		  position: relative;
		  display: inline-block;
		  height: 100%;
	
		  &__menu {
			display: none;
			position: absolute;
			right: 0;
			min-width: 150px;
			box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
			align-items: left;
	
			button {
			  display: block;
			  width: 100%;
			  padding: 12px 16px;
			  font-size: 1rem;
			  border: none;
			  border-radius: 6px;
			  cursor: pointer;
			  color: black;
			  text-decoration: none;
			  transition: background-color 0.3s;
	
			  &:hover {
				background-color: var(--darkgreen);
			  }
			}
		  }
	
		  &:hover {
			.dropdown__menu {
			  display: block;
			}
		  }
		}
	  }
  
	&__search-form {
	  input {
		padding: 10px 15px;
		color: #373D41;
		border-radius: 6px;
		line-height: 1.6rem;
		border: none;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	  }
  
	  button {
		background-color: var(--darkgreen);
		color: black;
		font-weight: 700;
		cursor: pointer;
		padding: 14px 24px 13px;
		font-size: 1rem;
		border-radius: 6px;
		border: none;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	  }
	}
  }
  
  

.recipe__display {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.recipe__card-container {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	a {
		text-decoration: none;
		color: inherit;
		&:hover {
			text-decoration: none;
			color: inherit;
		}
	}
	.recipe__card {
		width: 400px;
		height: 500px;
		background-color: var(--white);
		border-radius: 20px;
		box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
		overflow: hidden;
		margin: 20px;
		display: flex;
		flex-direction: column;
		cursor: pointer;
	
	  .recipe__card-image {
		height: 300px;
		img {
		  width: 100%;
		  height: 100%;
		  object-fit: cover;
		}
	  }
	  .recipe__card-title {
		text-align: center;
		font-size: 1.2rem;
		margin: 10px 0;
	  }
	  .recipe__card-description {
		text-align: center;
		font-size: 0.9rem;
		margin: 0 10px 10px 10px;
		height: 120px; 
		overflow: hidden; 
	  }
	  
	  .favshare__btns {
		display: flex;
		justify-content: space-between;
		margin-top: auto;

		button {
			background-color: transparent;
			border: none;

				:hover {
					cursor: pointer;
			}
		  }
	  }
	}
}


.pagination {
	display: inline-block;
  
	.pagination button {
	  color: black;
	  float: left;
	  padding: 8px 16px;
	  text-decoration: none;
	  background: none;
	  border: none;
	  cursor: pointer;
	}
  }
  
  

label {
	font-weight: bold;
	margin-bottom: 5px;
}
input {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	margin-bottom: 10px;
	resize: none;
	width: 400px;
}
textarea {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	margin-bottom: 10px;
	resize: none;
	width: 100%;
	height: 100px;
}



.search__result-card-container {
	display: grid;
	background-color: var(--white);
	padding: 10px;
	border-bottom: 1px solid black;
	margin: 1px 5px 0px;
	&:hover {
		background-color: var(--green);
	}
	a {
		text-decoration: none;
		color: inherit;
		&:hover {
			color: inherit;
		}
	}
}
.register__form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.register__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	border: 1px solid #ccc;
	border-radius: 0.5rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	max-width: 30rem;
	width: 100%;
	h1 {
		margin-top: 0;
	}
	div {
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;
	}
	label {
		font-size: 1.2rem;
		font-weight: bold;
		margin-bottom: 0.5rem;
	}
	input[type="email"] {
		font-size: 1.2rem;
		padding: 0.5rem;
		border-radius: 0.25rem;
		border: 1px solid #ccc;
	}
	input[type="password"] {
		font-size: 1.2rem;
		padding: 0.5rem;
		border-radius: 0.25rem;
		border: 1px solid #ccc;
	}
	button[type="submit"] {
		background-color: #007bff;
		color: #fff;
		font-size: 1.2rem;
		padding: 0.5rem 1rem;
		border-radius: 0.25rem;
		border: none;
		cursor: pointer;
		transition: all 0.2s ease-in-out;
		&:hover {
			background-color: #0062cc;
		}
	}
	button {
		background-color: #007bff;
		color: #fff;
		font-size: 1.2rem;
		padding: 0.5rem 1rem;
		border-radius: 0.25rem;
		border: none;
		cursor: pointer;
		transition: all 0.2s ease-in-out;
		&:hover {
			background-color: #0062cc;
		}
	}
}

.favorites-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-height: 100%;
	max-width: 100%;
	padding: 20px;

		.recipe__card-fave {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 300px;
		max-height: 100px;
		background-color: #f5f5f5;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		padding: 10px;
		margin: 10px;
		border-radius: 5px;
		text-decoration: none;
	
			&:hover {
			background-color: #e0e0e0;
			cursor: pointer;
			}
			
			h2 {
				font-size: 14px;
				margin: 0;
				padding: 0;
				color: #333;
				text-align: left;
				flex-grow: 1;
				margin-left: 10px;
				max-width: 70%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			
			img {
				max-width: 50px;
				max-height: 50px;
				object-fit: cover;
				border-radius: 5px;
			}
	}
  }


  .share-popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;

	.share-popup {
		background-color: #ffffff;
		padding: 20px;
		border-radius: 4px;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		min-width: 300px;
		text-align: center;
		position: relative;

		.share-popup input {
			width: 100%;
			margin-bottom: 10px;
		  }
		  
		  .close-popup-btn {
			position: absolute;
			top: 10px;
			right: 10px;
			background-color: transparent;
			border: none;
			cursor: pointer;
			font-size: 18px;
		  }
	  }
  }

.recipe__submission__form {
	background-color: var(--white);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px var(--darkgrey);
	max-width: 800px;
	margin: 30px auto;
  
	form {
	  display: flex;
	  flex-direction: column;
	  align-items: center;  
  
	  label {
		font-weight: bold;
		margin-bottom: 10px;
	  }
  
	  input, .ql-container {
		width: 100%;
		padding: 10px;
		border: 1px solid var(--grey);
		border-radius: 5px;
		margin-bottom: 20px;
	  }
  
	  button {
		background-color: var(--green);
		color: var(--white);
		padding: 12px 20px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
  
		&:hover {
		  background-color: var(--darkgreen);
		}
	  }
	}
  }
  
  .recipe__page-container {
	margin: 20px auto;
	max-width: 1200px;
	padding: 0 20px;
	background-color: var(--white);
	border-radius: 10px;
	
	display: grid;
	grid-template-areas: 
	  "top"
	  "bottom";
	grid-gap: 30px;
  
	@media only screen and (max-width: 768px) {
	  padding: 0 10px;
	}
	
	.recipe__page-top-content {
	  grid-area: top;
	  display: grid;
	  grid-template-areas:
		"image title"
		"image desc";
	  grid-template-columns: 1fr 1fr;
	  grid-gap: 20px;
  
	  @media only screen and (max-width: 768px) {
		grid-template-areas:
		  "image"
		  "title"
		  "desc";
		grid-template-columns: 1fr;
	  }
	
	  .recipe__average-rating {
		grid-area: title;
		margin-bottom: 10px;
		cursor: pointer;
		p {
		  font-weight: bold;
		  color: var(--khaki);
		}
	  }
  
	  .recipe__page-image {
		grid-area: image;
		img {
		  width: 300px;
		  height: 300px;
		  border-radius: 10px;
		  object-fit: cover;
		}
		@media only screen and (max-width: 768px) {
			justify-self: center;
  
			img{
			  width: 80vw;
			}
		  }
	  }
  
	  .recipe__page-content {
		grid-area: desc;
		
		.recipe__page-title {
		  h2 {
			font-size: 2em;
			margin-bottom: 10px;
			color: var(--khaki);
		  }
		}
  
		.recipe__page-description {
		  font-size: 1em;
		  line-height: 1.5;
		  color: var(--grey);
		}
	  }
	}
  
	.recipe__page-bottom-content {
	  grid-area: bottom;
	  
	  .recipe__page-ingredients,
	  .recipe__page-instructions,
	  .recipe__page-reviews {
		h1 {
		  font-size: 2em;
		  margin-bottom: 20px;
		  color: var(--green);
		}
	  }
  
	  .recipe__review-form {
		h3 {
		  margin-bottom: 10px;
		  color: var(--darkgreen);
		}
		
		form {
		  label {
			display: block;
			margin-bottom: 10px;
			color: var(--grey);
		  }
		  
		  textarea {
			width: 100%;
			height: 100px;
			margin-bottom: 10px;
			padding: 0 20px; 
			box-sizing: border-box; 
		  }
		  
		  button {
			padding: 10px 20px;
			font-size: 1em;
			background-color: var(--green);
			color: var(--white);
			border: none;
			border-radius: 5px;
			margin-bottom: 20px;
			&:disabled {
			  background-color: var(--darkgrey);
			  cursor: not-allowed;
			}
		  }
		  @media only screen and (max-width: 768px) {
			display: flex;
			flex-direction: column;
			align-items: center;
  
			textarea {
			  width: 90%;  
			  height: 100px;
			  margin-bottom: 10px;
			}
  
			button {
			  width: 90%;  
			  padding: 10px 20px;
			  margin-bottom: 10px;
			}
		  }
		}
  
		.custom-star {
		  svg {
			stroke: var(--khaki);
			stroke-width: 1;
			fill: var(--white);
			&:hover {
			  fill: var(--green);
			}
		  }
		}
	  }
	}
  }
  
  
  

  